<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"
      layout:fragment="Content"
>


<form id="board" action="/board/index.do" method="get" autocomplete="off">
  <input type="hidden" id="sortValue" name="sort" th:value="${pageDetails.sortField}">
  <input type="hidden" id="orderValue" name="order" th:value="${pageDetails.sortDirection}">

  <div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Board Index</h1>
    <div class="my-2">
      <a href="edit.do" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-plus"></i>
            </span>
        <span class="text">Create New Post</span>
      </a>
    </div>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">게시판</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>순번</th>
              <th><a href="#" onclick="updateFormAndSubmit('board','bbsSubject')">제목</a></th>
              <th><a href="#" onclick="updateFormAndSubmit('board','bbsWriter')">작성자</a></th>
              <th><a href="#" onclick="updateFormAndSubmit('board','bbsRegdate')">작성일</a></th>
              <th><a href="#" onclick="updateFormAndSubmit('board','bbsHit')">조회수</a></th>
              <th>연락처</th>
            </tr>
            </thead>
            <tbody id="tableBody">
            <tr th:each="board : ${boardList}">
              <td th:text="${board.bbsSubject}">게시판 제목</td>
              <td th:text="${board.bbsSubject}">게시판 제목</td>
              <td th:text="${board.bbsWriter}">작성자</td>
              <td th:text="${board.bbsRegdate}">작성일</td>
              <td th:text="${board.bbsHit}">조회수</td>
              <td th:text="${board.bbsCall}">연락처</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div th:replace="common/paging/paging :: pagination('board')"></div>
  </div>
</form>
</html>