<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"
      layout:fragment="Content"
      xmlns="">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Board Index</title>
  <link rel="stylesheet" th:href="@{/common/css/menu.css}">
</head>
<body>
<form id="menu" th:action="@{/menus/index.do}" th:object="${menu}" method="get" autocomplete="off" onsubmit="return false;">
  <div class="container">
    <div class="menuSidebar">
      <div class="menubar">
        <h2>메뉴 관리</h2>
        <button class="btn-sm">등록</button>
      </div>
      <div class="menu-list">
        <div th:each="menu : ${menus}">
          <div th:replace="/common/menu/menuFragment :: menuFragment(${menu})">
          </div>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div class="search-bar">
        <input type="text" placeholder="Search menus...">
        <button>검색</button>
        <button>정렬</button>
      </div>
      <div class="menu-settings">
        <div class="menu-details">
          <h3>메뉴 상세정보</h3>
          <form>
            <div class="form-group">
              <label for="name">상위메뉴명</label>
              <label for="parentName"></label>
              <input type="text" id="parentName" readonly>
            </div>
            <div class="form-group">
              <label for="name">메뉴명</label>
              <input type="text" id="name" placeholder="메뉴명을 입력 해주세요">
            </div>
            <div class="form-group">
              <label for="path">메뉴경로</label>
              <input type="text" id="path" placeholder="메뉴 경로를 입력 해주세요">
            </div>
            <div class="form-group">
              <label for="type">메뉴 타입</label>
              <select id="type">
                <option value="HTML">HTML</option>
                <option value="BOARD">게시판</option>
                <option value="MODULE">모듈</option>
                <option value="INTERNALLINK">내부링크</option>
                <option value="EXTERNALLINK">외부링크</option>
              </select>
            </div>
            <div class="form-group">
              <label for="visibility">사용여부</label>
              <select id="visibility">
                <option value="Y">사용함</option>
                <option value="N">사용안함</option>
              </select>
            </div>
            <div class="form-group">
              <label for="order">출력순서</label>
              <input type="number" id="order" placeholder="출력순서를 입력 해주세요">
            </div>
            <div class="form-actions">
              <button type="button">취소</button>
              <button type="submit">저장</button>
            </div>
          </form>
        </div>
        <div class="menu-history">
          <h3>메뉴 이력</h3>
          <table>
            <thead>
            <tr>
              <th>Date</th>
              <th>Action</th>
              <th>User</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>2023-05-23</td>
              <td>Created</td>
              <td>John Doe</td>
            </tr>
            <tr>
              <td>2023-05-23</td>
              <td>Updated</td>
              <td>John Doe</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>
</body>
</html>

<script>

  function addSubMenu(menuIdx) {
    fetchMenuDetails({
      menuIdx: menuIdx,
      editMode: 'ADD',
    });
  }

  function showMenuDetails(menuIdx) {
    fetchMenuDetails({
      menuIdx: menuIdx,
      editMode: 'DETAIL',
    });
  }


  function updateMenuFields(data, editMode) {
    switch (editMode) {
      case 'ADD':
        document.getElementById('parentName').value = data.menuTitle || '상위메뉴없음';
        document.getElementById('name').value = "";
        document.getElementById('path').value = "";
        document.getElementById('type').value = 'HTML';
        document.getElementById('visibility').value = 'Y';
        document.getElementById('order').value = data.menuDisplayOrder;
        break;
      case 'DETAIL':
      case 'MODIFY':
      case 'DELETE':
        document.getElementById('parentName').value = data.parentMenuTitle || '상위메뉴없음';
        document.getElementById('name').value = data.menuTitle;
        document.getElementById('path').value = data.menuPath;
        document.getElementById('type').value = data.menuContentType;
        document.getElementById('visibility').value = data.menuVisible;
        document.getElementById('order').value = data.menuDisplayOrder;
        break;
      default:
        console.error('알 수 없는 편집 모드:' + editMode);
        break;
    }
  }

  function fetchMenuDetails(requestData) {
    fetch('/menus/details.do', {
      method: 'POST',
      headers: {'Content-Type': 'application/json'},
      body: JSON.stringify(requestData)
    })
    .then(response => response.json())
    .then(data => {
      if (data) {
        updateMenuFields(data, requestData.editMode);
      } else {
        console.error('메뉴 세부정보를 찾을 수 없습니다');
      }
    })
    .catch(error => console.error('메뉴 세부정보를 로드하는 중에 오류가 발생했습니다.', error));
  }

</script>
