<div class="container-fluid" th:fragment="pagination(formId)">
  <input type="hidden" th:field="*{sortValue}" th:value="${pageDetails.sortField}">
  <input type="hidden" th:field="*{orderValue}" th:value="${pageDetails.sortDirection}">
  <input type="hidden" th:field="*{pageValue}">
  <input type="hidden" th:field="*{sizeValue}">

  <div class="search-area">
    <select th:field="*{searchField}" class="form-control">
      <option th:text="제목" th:value="bbsSubject">제목</option>
      <option th:text="작성자" th:value="bbsWriter">작성자</option>
      <option th:text="작성일" th:value="bbsRegdate">작성일</option>
      <option th:text="조회수" th:value="bbsHit">조회수</option>
    </select>
    <input type="search" placeholder="검색어를 입력해주세요" th:field="*{searchValue}">
    <button type="button" th:data-form-id="${formId}" onclick="submitSearchForm(this.dataset.formId)">검색</button>
  </div>

  <div class="counts">
    <span th:text="${pageDetails.startEntry}">1</span> - <span th:text="${pageDetails.endEntry}">10</span> / <span th:text="${pageDetails.totalElements}">57</span>
  </div>

  <div class="pagination">
    <button class="page-link" th:if="${pageDetails.hasPrevious}" th:data-page="${pageDetails.currentPage - 1}" th:data-form-id="${formId}" th:onclick="pagingSubmitForm(event, this.getAttribute('data-page'), this.getAttribute('data-form-id'))">이전</button>
    <span th:each="i : ${#numbers.sequence(pageDetails.startPage, pageDetails.endPage)}" class="page-item" th:classappend="${i == pageDetails.currentPage} ? 'active' : ''">
            <button class="page-link" th:data-page="${i}" th:data-form-id="${formId}" th:onclick="pagingSubmitForm(event, this.getAttribute('data-page'), this.getAttribute('data-form-id'))" th:text="${i + 1}"></button>
        </span>
    <button class="page-link" th:if="${pageDetails.hasNext}" th:data-page="${pageDetails.currentPage + 1}" th:data-form-id="${formId}" th:onclick="pagingSubmitForm(event, this.getAttribute('data-page'), this.getAttribute('data-form-id'))">다음</button>
  </div>
</div>
